@import '../abstracts/base';



.user-item {
    background-color: $bg;
    padding: 8px;
    margin: 10px 0;
}

.user-img {
    width: 100px;
    height: auto;
}

.repo-item {
    @extend .user-item;
    padding: 1.5rem;
}