$bg: #1F1D2B;
$bg-light: #2E354B;
$separator-color: #3C4156;
$primary-color: #0d8bff;
$secondary-color: #EA7C69;
$light-gray: #9A9AB0;

.color-primary {
    color: $primary-color;
}

.bg {
    background-color: $bg;
}