* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.App {
    min-height: 100vh;
}

.active {
    text-decoration: none;
    background-color: #0d8bff;
    color: white;
}

.inactive {
    color: white;
    text-decoration: none;
}

.inactive:hover {
    color: white;
    background-color: #0d8bff;
    border-radius: 7px;
}
